@darkgreen : #2A5D67;
@green : #4AE3B5;
@darkblue : #171332;
@gray: #EEEEEE;


*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .HomeContainer{
        font-family: 'Ubuntu', sans-serif;
        .Top3Title{
            font-size: 3em;
            background: @darkblue;
            color : @green;
            text-align: center; 
            padding: 2em 0 2em 0;
        }
        .Top3Container {
            background: @darkblue;
            .row{  
                .card{
                    color : @darkgreen;
                }
            }
        }
    }
    .MarketContainer{
        padding-top: 4em;
        font-family: 'Ubuntu', sans-serif;
        .MarketRow{
            .TurnipsCol{
                display : flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .card{
                    margin-top : 1em;
                    .stats1{
                        display: flex;
                        justify-content : space-between;
                    }
                    .stats2{
                        display: flex;
                        justify-content : space-between;
                        align-items: center;
                        font-weight: 3em;
                    }
                    .inputGroup{
                        display:flex;
                        align-items: center;
                        div{
                            padding-left: 1em;
                        }
                    }
                }
            }
            .ChartCol{
                .title{
                    font-size: 70px;
                }
            }
        }
    }
    .CatchContainer{
        padding-top: 4em;
        font-family: 'Ubuntu', sans-serif;
        .RadioRow{
            padding-bottom: 2em;
        }

    }
    
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}