
.turnip, .bugnet, .fishrod, .bells{
    width: 15em;
    margin-bottom: 4em; 
}
.fishrod{
    width: 17.5em;
}

.bugIcon, .fishIcon{
    width: 10em;
}

.bugIconSmall, .fishIconSmall{
    width: 8em;
}

.logo{
    width : 10em;
}
.namedLogoContainer{
    padding : 0;
    margin: 0;
    .namedLogo{
        width : 50em;
    }
}
.hero{
    margin: 2em 0.5em 0.5em 0.5em;
    width: 101em;
}

.CogContainer{
    line-height: 0;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}